.form-section {
    box-shadow: 5px 1px 7px 3px #afaaaa;
    margin-top: 30px;
    padding: 20px 110px 20px 240px;

    h2 {
        margin-left: -170px;
        font-size: 1.25rem;
    }
}

.form-content {
display: flex;

    .left-section,
    .right-section {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 0.75rem;
    }

    input {
        padding: 5px 10px;
        width: 17vw;
        border: 2px solid lightblue;
        opacity: 0.5;
        border-radius: 10px;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    input[type=password]:focus {
        background-color: lightblue;
      }

    label {
        color: rgb(34, 117, 150);
        margin-top: 15px;
    }

    input:valid {
        border: 2px solid rgb(34, 117, 150);
    }

    input:invalid {
        border: 2px solid red;
    }

    .left-section {
        margin-left: -175px;
        margin-right: 60px;
    }

    .right-section {
        margin-top: -175px;
        margin-left: 130px;
    }

}

